<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="adWorkbookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <adWorkbookAddIn.Properties.Settings>
            <setting name="WORK_PROCEDURE_FORM_WIDTH" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WORK_PROCEDURE_FORM_HEIGHT" serializeAs="String">
                <value>421</value>
            </setting>
            <setting name="SERVER_HOSTNAME" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LOGIN_ID" serializeAs="String">
                <value />
            </setting>
        </adWorkbookAddIn.Properties.Settings>
    </userSettings>
</configuration>