/CmdSatellite/

syntax:glob
*.vshost.*
*.obj
*.exe
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
/Release/bin/DashboardCustomizeTool.exe.config
/Release/bin/Dockingcontrollayout.dll
/Release/bin/log4net.dll
[Dd]ebug*/
[Rr]elease*/
*.lib
*.sbr
*.QACPPsettings
*.QACsettings
Thumbs.db
[Ll]ib/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
[Ip]ch/
_UpgradeReport_Files/
_ReSharper.*/
