/*
    Created on : 2017/03/06, 17:49:02
    Author     : s-heya
*/

.root {
    -fx-font-family: "Meiryo UI","Arial","sans-serif";
}

.background {
    -fx-background-color: black;
}

.table-view {
    -fx-background-color: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: -fx-table-cell-border-color;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .filler,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-border-color: -fx-table-cell-border-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.table-view .table-row-cell {
    -fx-background-color: transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}