*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/adAndon/AndonCommon/target/
/adFactoryCommon/ClientService/target/
/adManagerApp/adManagerAppKanbanRegistPreprocessPlugin/target/
*.license
/adUpdaterApp/adUpdaterApp/nbproject/private/
/adUpdaterApp/adUpdaterApp/target/
/adDatabaseApp/target/
/adManagerApp/adManagerCustomPlugin/target/
/adAndon/adAndonWorkPlanNumPlugin/target/
/adAndon/adAndonDailyWorkPlanNumPlugin/target/
/adInterfaceService/OdbcServicePlugin/target/

/adAndon/adMonitorWorkStatusPlugin/target/
/adAndon/adMonitorBlankSpacePlugin/target/
/adAndon/adMonitorWorkDeliveryPlugin/target/
/adAndon/adMonitorSuspendedRatePlugin/target/
/adAndon/adMonitorEquipmentDeliveryPlugin/target/
/Fuji/adCollaboServer/target/
/adManagerApp/adManagerChartPlugin/target/
/adManagerApp/adManagerLedgerOutPlugin/target/

/adAndon/adMonitorEstimatedTimePlugin/target/
/adInterfaceService/LineServicePlugin/target/
/tools/adFactoryPasswordTool/target/
/adManagerApp/adManaProductionNaviPlugin/target/
/adReporter/adReporter/target/
/adReporter/adReporterClientSample/target/
/adReporter/conf/
/adReporter/temp/
/adReporter/logs/
/adInterfaceService/ImportService/target/
/tools/adBridgeBI/target/
/tools/adBridgeBI/nbproject/
/tools/conf/
/Fuji/adMonitor/fonts/
/adInterfaceService/DbImportService/target/
/adInterfaceService/dbOutputService/target/
/adInterfaceService/ExportServicePlugin/target/
/adInterfaceService/SummaryReportPlugin/target/
/tools/CodeScanApp/CodeScanApp/bin
/tools/CodeScanApp/CodeScanApp/obj
/tools/CodeScanApp/CodeScanApp/*.user
/Fuji/adCollaboKit/target/
/Fuji/adManager/adManaProductionNaviPluginFuji/target/
/tools/LicenseChecker/target/
/tools/adFactorySettingTool/target/
/adInterfaceService/DeviceConnectionServicePlugin/target/
/adLinkService/target/
/adLinkService/adLinkService/target/
/adLinkService/adLinkBarcode/target/
/adLinkService/adLinkFPInspection/target/
/adLinkService/adLinkPlugin/target/
=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/adAndon/AndonCommon/target/
/adFactoryCommon/ClientService/target/
/adManagerApp/adManagerAppKanbanRegistPreprocessPlugin/target/
*.license
/adUpdaterApp/adUpdaterApp/nbproject/private/
/adUpdaterApp/adUpdaterApp/target/
/adDatabaseApp/target/
/adManagerApp/adManagerCustomPlugin/target/
/adAndon/adAndonWorkPlanNumPlugin/target/
/adAndon/adAndonDailyWorkPlanNumPlugin/target/
/adInterfaceService/OdbcServicePlugin/target/

/adAndon/adMonitorWorkStatusPlugin/target/
/adAndon/adMonitorBlankSpacePlugin/target/
/adAndon/adMonitorWorkDeliveryPlugin/target/
/adAndon/adMonitorSuspendedRatePlugin/target/
/adAndon/adMonitorEquipmentDeliveryPlugin/target/
/Fuji/adCollaboServer/target/
/adManagerApp/adManagerChartPlugin/target/
/adManagerApp/adManagerLedgerOutPlugin/target/

/adAndon/adMonitorEstimatedTimePlugin/target/
/adInterfaceService/LineServicePlugin/target/
/tools/adFactoryPasswordTool/target/
/adManagerApp/adManaProductionNaviPlugin/target/
/adReporter/adReporter/target/
/adReporter/adReporterClientSample/target/
/adReporter/conf/
/adReporter/temp/
/adReporter/logs/
/adInterfaceService/ImportService/target/
/tools/adBridgeBI/target/
/tools/adBridgeBI/nbproject/
/tools/conf/
/Fuji/adMonitor/fonts/
/adInterfaceService/DbImportService/target/
/adInterfaceService/dbOutputService/target/
/adInterfaceService/ExportServicePlugin/target/
/adInterfaceService/SummaryReportPlugin/target/
/tools/CodeScanApp/CodeScanApp/bin
/tools/CodeScanApp/CodeScanApp/obj
/tools/CodeScanApp/CodeScanApp/*.user
/Fuji/adCollaboKit/target/
/Fuji/adManager/adManaProductionNaviPluginFuji/target/
/tools/LicenseChecker/target/
/tools/adFactorySettingTool/target/
/adLinkService/adLinkService/target/
/tools/adQuery/target/
/adLinkService/adLinkFPInspection/target/
/adInterfaceService/DeviceConnectionServicePlugin/target/
/tools/adFactoryAsprovaActualDataOutput/target/
/tools/FujiMESApp/target/
adFactoryInstaller/adLinkService/bin/adLinkService.exe
adLinkService/adLinkServerURLReceiver/target/
adManagerApp/adManagerCellInformationRegistrationSettingsPlugin/target/
adManagerApp/adManagerProductionPlanActualHistoryViewPlugin/target/
adManagerApp/adManagerDsItemEditPlugin/target/
adFactoryLocale/StandardLocalePlugin/target/
adWorkbookAddIn/Installer/Output/
adWorkbookAddIn/Installer/version.ini
